<%- include('./includes/head.ejs') %>
<body>

    <%- include('./includes/navigation.ejs') %>
    <div class='productList'>
        <% if (prods && prods.length > 0) { %>
            <% for (let product of prods) { %>
                <article class='productCard'>
                    <div>
                        <h1 class='productName'><%= product.productName %></h1>
                    </div>
                    <div>
                        <p class="productDescription"><%= product.itemDescription %></p>
                    </div>
                    <div>
                        <img src="<%= product.imageURL %>" alt="<%= product.productName %>">
                    </div>
                    <div>
                        <p class="productPrice">$<%= product.price %></p>
                    </div>
                    <div>
                        <a href='project01/admin/edit' class="button">Edit</a>
                        <form action='project01/admin/deleteProduct' method='POST'>
                            <button class="button" type="submit">Delete</button>
                        </form>
                    </div>
                </article>
            <% } %>
        <% } else { %>
            <h1>No Products Found</h1>
        <% } %>
    </div>
</body>
</html>