<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/navigation.ejs') %>
    <div class="addProductForm">
        <form action="/project01/admin/editProduct" method="POST" name="editProduct">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <div class="addProduct">
                <label for="productName">Name</label>
                <input type="text" name='productName' id='productName' placeholder="Product Name" value="<%=product.productName%>">
            </div>

            <div class='addProduct'>
                <label for='itemDescription'>Item Description</label>
                <textarea name='itemDescription' id='itemDescription' rows="6"><%=product.itemDescription%></textarea>
            </div>

            <div class='addProduct'>
                <label for='price'>Price: $</label>
                <input type="number" step=".01" name="price" id="price" value="<%=product.price%>">
            </div>

            <div class='addProduct'>
                <label for='productImage'>Image URL</label>
                <input type="text" name=productImage id='productImage' value="<%=product.imageURL%>">
            </div>

            <input type="hidden" value="<%= product._id %>" name="id" id="id">
            
            
            <div class='addProduct'>
                <button type="submit">Submit Product Edit</button>
            </div>
        </form>
    </div>
</body>
</html>
