<%- include('./includes/head.ejs') %>
<body>

    <%- include('./includes/navigation.ejs') %>

    <article class='productCard'>
        <div>
            <h1 class='productName'><%=product.productName %></h1>
        </div>
        <div>
            <p class="productDescription"><%=product.itemDescription %></p>
        </div>
        <div>
            <img src="<%= product.imageURL %>">
        </div>
        <div>
            <p class="productPrice">$<%=product.price %></p>
        </div>
        <% if(isAuthenticated) { %>
        <div class="formActions">
            <form action="../cart" method="post">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <button class="button" type="submit">Add to Cart</button>
                <input type="hidden" name="productId" value="<%= product._id %>">
            </form>
        </div>
        <% } %>
    </article>
</body>
</html>
